body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-error{
    outline: 1px solid red;
}

.currency-dropdown .dropdown-toggle,
.currency-dropdown .dropdown-toggle:hover,
.currency-dropdown .dropdown-menu {
    background-color: #93e499;
}

.currency-dropdown .dropdown-toggle,
.currency-dropdown .dropdown-toggle:hover {
    color: #fff;
}

.currency-dropdown .dropdown-menu {
    margin-top: 2px;
    border: solid 1px #000;
}

.currency-dropdown .dropdown-menu li {
    cursor: pointer;
}